body{
  background-color: black;
}

h1{
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  color:aliceblue;
  text-align: center;
}

.poster{
  color:antiquewhite;
  text-align: center;
  width: 50%;
  margin-top: 100px;
} 

.poster1{
  color:antiquewhite;
  text-align: center;
  width :50%;
  margin-left: 50%;
}


#image{
  border:5px solid white;
  width:100%
}

#quote{
  font-size: 25px;
}